---
import ExperienceItem from "./ExperienceItem.astro";

import { getI18N } from "./i18n/";
const { currentLocale = "en" } = Astro;
const i18n = getI18N({ currentLocale });

const EXPERIENCE = [
  {
    date: `${i18n.FIRST_DATE}`,
    title: `${i18n.FIRST_EXPERIENCE_TITLE}`,
    description: `${i18n.FIRST_EXPERIENCE_DESCRIPTION}`,
    //link: '#'
  },
  {
    date: `${i18n.SECOND_DATE}`,
    title: `${i18n.SECOND_EXPERIENCE_TITLE}`,
    description: `${i18n.SECOND_EXPERIENCE_DESCRIPTION}`,
    //link: '#'
  },
  {
    date: `${i18n.THIRD_DATE}`,
    title: `${i18n.THIRD_EXPERIENCE_TITLE}`,
    description: `${i18n.THIRD_EXPERIENCE_DESCRIPTION}`,
    //link: '#'
  }
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map(experience => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience}/>  
      </li>
    ))
  }
</ol>
