---
import NextJSIcon from "../icons/NextJSIcon.astro";
import ProjectImage from "./ProjectImage.astro";
import ProjectInfo from "./ProjectInfo.astro";


import { getI18N } from "./i18n/";
const { currentLocale = "en" } = Astro;
const i18n = getI18N({ currentLocale });


const TAGS = {
  NEXT: {
    name: 'Next JS',
    class: 'bg-black text-white',
    icon: NextJSIcon,
  },
  TAILWIND: {
    name: 'Tailwind',
    class: 'bg-white text-white',
    //icon:
  },
  RUBY:{
    name: 'Ruby on Rails',
    class: 'bg-black text-red'
  }
}

const PROJECTS = [
  {
    title: `${i18n.FIRST_PROJECT_TITLE}`,
    description: `${i18n.FIRST_PROJECT_DESCRIPTION}`,
    link: "#",
    github: "#",
    image: '/bg-ecommerce.webp',
    tags: [TAGS.NEXT, TAGS.TAILWIND, TAGS.RUBY],
  },
  {
    title: `${i18n.SECOND_PROJECT_TITLE}`,
    description: `${i18n.SECOND_PROJECT_DESCRIPTION}`,
    link: "#",
    github: "#",
    image: '/banner_academy.webp',
    tags: [TAGS.NEXT, TAGS.TAILWIND, TAGS.RUBY],
  },
  {
    title: `${i18n.THIRD_PROJECT_TITLE}`,
    description: `${i18n.THIRD_PROJECT_DESCRIPTION}`,
    link: "#",
    github: "#",
    image: '/banner_musicshop.webp',
    tags: [TAGS.NEXT, TAGS.TAILWIND, TAGS.RUBY],
  },
];
---

{
  PROJECTS.map(({ image, title, description, tags }) => (
    <div class={`
      flex flex-wrap
      sm:flex-wrap
      lg:justify-center lg:items-center lg:w-full lg:my-12 lg:gap-x-12
      xl:flex-nowrap 
      
    `}>
      <ProjectImage image={image} />
      <ProjectInfo title={title} description={description} tags={tags}/>
    </div>  
  ))
}

